header {
    background-color: cadetblue;
    color           : white;
    display         : flex;
    align-items     : center;
}

.logo {
    color      : tomato;
    margin     : 16px 16px;
    font-weight: 800;
    font-size  : 24px;
    text-align : left;
    flex       : 1;
}